.nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.nav-items {
    list-style: none;
    display: flex;
    border-spacing: 0.5cm;
}

.nav-items > li {
    font-size: 18px;
    padding: 10px;
}

.nav-logo {
    width : 140px;
}

.footer {
    position: relative ;
    left : 100px;
}