.nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-image: url(https://images.hdqwalls.com/wallpapers/react-js-logo-no.jpg);
    background-repeat: no;
    background-size: 2000px 1100px;

}

.NavBar{
    display: flex;
    align-items: center;
    background-color:rgb(33, 29, 29);
    height: 90px;
    padding:  0px 25px;
}

.NavBar > h3 , .NavBar > h4 {
    margin: 0;
    position: relative;
    color: white;
}

.NavBar > h3 {
    padding: 10px;
    margin-right: auto;
    color: #61dafb;
    font-size: 22px;
}

.NavBar > img {
    height: 20px;
    width : 30px;
}

.nav-items {
    list-style: none;
    display: flex;
    border-spacing: 0.5cm;
}

.nav-items > li {
    font-size: 18px;
    padding-block: 10px;
}

.nav-logo {
    width : 140px;
}

.Mainh1 {
    margin : 0;
    padding: 57px 27px ;
    color: white;
    font-size: 24px;
    letter-spacing: -0.05em;
}

.main--ul >  li::marker{
    font-size: 1.2em;
    color: cyan;
}

.Mainh1 > li {
    margin-top:   46px;
    max-width: 400px;
    padding-left : 1em;
    text-indent: -.7em;
    line-height: 3;
    padding-block: 10px;

}


.Mainh1 > li:before {
    font-family: FontAwesome;
    color:cyan; 
    margin-right: 4px;
}
.footer {
    position: relative ;
    left : 100px;
}